<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:hasCode="true"
        android:label="App to Clone"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- ========================================================================= -->
        <!-- 25 Pre-Declared Isolated Worker Stub Matrix (:worker_01 to :worker_25)    -->
        <!-- Each with unique taskAffinity & documentLaunchMode for multi-app running  -->
        <!-- ========================================================================= -->

        <!-- WORKER 01 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P01" android:process=":worker_01" android:taskAffinity="com.virtual.host.slot_01" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P01" android:process=":worker_01" android:taskAffinity="com.virtual.host.slot_01" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P01" android:process=":worker_01" android:exported="false" />

        <!-- WORKER 02 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P02" android:process=":worker_02" android:taskAffinity="com.virtual.host.slot_02" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P02" android:process=":worker_02" android:taskAffinity="com.virtual.host.slot_02" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P02" android:process=":worker_02" android:exported="false" />

        <!-- WORKER 03 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P03" android:process=":worker_03" android:taskAffinity="com.virtual.host.slot_03" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P03" android:process=":worker_03" android:taskAffinity="com.virtual.host.slot_03" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P03" android:process=":worker_03" android:exported="false" />

        <!-- WORKER 04 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P04" android:process=":worker_04" android:taskAffinity="com.virtual.host.slot_04" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P04" android:process=":worker_04" android:taskAffinity="com.virtual.host.slot_04" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P04" android:process=":worker_04" android:exported="false" />

        <!-- WORKER 05 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P05" android:process=":worker_05" android:taskAffinity="com.virtual.host.slot_05" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P05" android:process=":worker_05" android:taskAffinity="com.virtual.host.slot_05" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P05" android:process=":worker_05" android:exported="false" />

        <!-- WORKER 06 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P06" android:process=":worker_06" android:taskAffinity="com.virtual.host.slot_06" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P06" android:process=":worker_06" android:taskAffinity="com.virtual.host.slot_06" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P06" android:process=":worker_06" android:exported="false" />

        <!-- WORKER 07 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P07" android:process=":worker_07" android:taskAffinity="com.virtual.host.slot_07" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P07" android:process=":worker_07" android:taskAffinity="com.virtual.host.slot_07" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P07" android:process=":worker_07" android:exported="false" />

        <!-- WORKER 08 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P08" android:process=":worker_08" android:taskAffinity="com.virtual.host.slot_08" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P08" android:process=":worker_08" android:taskAffinity="com.virtual.host.slot_08" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P08" android:process=":worker_08" android:exported="false" />

        <!-- WORKER 09 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P09" android:process=":worker_09" android:taskAffinity="com.virtual.host.slot_09" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P09" android:process=":worker_09" android:taskAffinity="com.virtual.host.slot_09" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P09" android:process=":worker_09" android:exported="false" />

        <!-- WORKER 10 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P10" android:process=":worker_10" android:taskAffinity="com.virtual.host.slot_10" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P10" android:process=":worker_10" android:taskAffinity="com.virtual.host.slot_10" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P10" android:process=":worker_10" android:exported="false" />

        <!-- WORKER 11 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P11" android:process=":worker_11" android:taskAffinity="com.virtual.host.slot_11" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P11" android:process=":worker_11" android:taskAffinity="com.virtual.host.slot_11" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P11" android:process=":worker_11" android:exported="false" />

        <!-- WORKER 12 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P12" android:process=":worker_12" android:taskAffinity="com.virtual.host.slot_12" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P12" android:process=":worker_12" android:taskAffinity="com.virtual.host.slot_12" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P12" android:process=":worker_12" android:exported="false" />

        <!-- WORKER 13 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P13" android:process=":worker_13" android:taskAffinity="com.virtual.host.slot_13" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P13" android:process=":worker_13" android:taskAffinity="com.virtual.host.slot_13" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P13" android:process=":worker_13" android:exported="false" />

        <!-- WORKER 14 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P14" android:process=":worker_14" android:taskAffinity="com.virtual.host.slot_14" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P14" android:process=":worker_14" android:taskAffinity="com.virtual.host.slot_14" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P14" android:process=":worker_14" android:exported="false" />

        <!-- WORKER 15 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P15" android:process=":worker_15" android:taskAffinity="com.virtual.host.slot_15" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P15" android:process=":worker_15" android:taskAffinity="com.virtual.host.slot_15" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P15" android:process=":worker_15" android:exported="false" />

        <!-- WORKER 16 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P16" android:process=":worker_16" android:taskAffinity="com.virtual.host.slot_16" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P16" android:process=":worker_16" android:taskAffinity="com.virtual.host.slot_16" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P16" android:process=":worker_16" android:exported="false" />

        <!-- WORKER 17 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P17" android:process=":worker_17" android:taskAffinity="com.virtual.host.slot_17" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P17" android:process=":worker_17" android:taskAffinity="com.virtual.host.slot_17" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P17" android:process=":worker_17" android:exported="false" />

        <!-- WORKER 18 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P18" android:process=":worker_18" android:taskAffinity="com.virtual.host.slot_18" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P18" android:process=":worker_18" android:taskAffinity="com.virtual.host.slot_18" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P18" android:process=":worker_18" android:exported="false" />

        <!-- WORKER 19 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P19" android:process=":worker_19" android:taskAffinity="com.virtual.host.slot_19" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P19" android:process=":worker_19" android:taskAffinity="com.virtual.host.slot_19" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P19" android:process=":worker_19" android:exported="false" />

        <!-- WORKER 20 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P20" android:process=":worker_20" android:taskAffinity="com.virtual.host.slot_20" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P20" android:process=":worker_20" android:taskAffinity="com.virtual.host.slot_20" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P20" android:process=":worker_20" android:exported="false" />

        <!-- WORKER 21 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P21" android:process=":worker_21" android:taskAffinity="com.virtual.host.slot_21" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P21" android:process=":worker_21" android:taskAffinity="com.virtual.host.slot_21" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P21" android:process=":worker_21" android:exported="false" />

        <!-- WORKER 22 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P22" android:process=":worker_22" android:taskAffinity="com.virtual.host.slot_22" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P22" android:process=":worker_22" android:taskAffinity="com.virtual.host.slot_22" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P22" android:process=":worker_22" android:exported="false" />

        <!-- WORKER 23 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P23" android:process=":worker_23" android:taskAffinity="com.virtual.host.slot_23" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P23" android:process=":worker_23" android:taskAffinity="com.virtual.host.slot_23" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P23" android:process=":worker_23" android:exported="false" />

        <!-- WORKER 24 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P24" android:process=":worker_24" android:taskAffinity="com.virtual.host.slot_24" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P24" android:process=":worker_24" android:taskAffinity="com.virtual.host.slot_24" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P24" android:process=":worker_24" android:exported="false" />

        <!-- WORKER 25 -->
        <activity android:name="com.virtual.routing.ContainerStubActivity_P25" android:process=":worker_25" android:taskAffinity="com.virtual.host.slot_25" android:documentLaunchMode="always" android:exported="false" android:launchMode="standard" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <activity android:name="com.virtual.routing.ContainerStubActivity_SingleTask_P25" android:process=":worker_25" android:taskAffinity="com.virtual.host.slot_25" android:documentLaunchMode="always" android:exported="false" android:launchMode="singleTask" android:theme="@style/NormalTheme" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />
        <service android:name="com.virtual.routing.ContainerStubService_P25" android:process=":worker_25" android:exported="false" />

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
